@import url('https://fonts.googleapis.com/css2?family=Asap:wght@600&family=Lato:wght@300;400;700&family=Lobster&family=Playfair+Display&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://spacui.netlify.app/style.css');

:root{
    /* Font family */
    --brand-font: 'Lobster', cursive;
    --primary-font: 'Playfair Display', serif; 
    --secondary-font: 'Asap', sans-serif; 
    --ternary-font: 'Lato', sans-serif;  
    /* 
    font-family: 'Lobster', cursive;            BRAND
    font-family: 'Playfair Display', serif;     Deal of the day
    font-family: 'Asap', sans-serif;            BRAND/PRICE/COLOR
    font-family: 'Lato', sans-serif;            Paragraph 300/400/700
    */

    /* Color */
    --primary-color: #ff312e;
    --primary-shadow-color: #a12f2e;
    --primary-opaque-color: hsla(1, 100%, 59%, 0.3);
    --secondary-color: black;
    --secondary-shadow-color: rgb(87, 87, 87);
    --secondary-opaque-color: hsla(0, 0%, 0%, 0.3);
    --ternary-color: white;
    --ternary-shadow-color: rgb(248, 248, 248);
    --ternary-opaque-color: hsla(0, 0%, 100%, 0.3);
    --toastify-icon-color-info: var(--primary-color) !important;
    --toastify-color-progress-info: var(--primary-color) !important;
    --toastify-color-progress-success: var(--secondary-opaque-color) !important;
    --toastify-color-progress-error: var(--secondary-opaque-color) !important;
}

*{ 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}  