.login-section{
    align-items: center;
    height: 80vh;
}

.login-container{
    width: 100vw;
    max-width: 25rem;
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 1px 3px var(--secondary-color-opaque), 0 1px 2px var(--ternary-color-opaque);
}

.login-container h1{
    font-family: var(--secondary-font);
}

.login-credentials-container{
    margin: 1rem 0;
}

.login-credential-field{
    margin: 8px  0;
}

.login-credential-field input{
    padding: 12px;
    font-size: 1rem;
    letter-spacing: 1px;
    border: 2px solid var(--secondary-opaque-color);
    border-radius: 6px;
}

.login-credential-field input:hover{
    border-color: var(--secondary-shadow-color);
}

.checkbox-link-input{
    justify-content: space-between;
    margin-bottom: 1rem;
}

.text-button{
    font-size: 1rem;
    font-family: var(--secondary-font);
}

.login-link-button{
    border: none;
    background-color: var(--ternary-color);
    padding: 0.5rem;
    text-decoration: none;
    margin: 4px;
}

.login-link-button a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--secondary-font);
}



@media all and (max-width: 576px) { 
    .login-container{
        padding: 1rem 2rem;
    }
} 