.wishlist-section{
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 1rem;
    justify-content: space-evenly;
    background-color: var(--ternary-shadow-color);
}

.wishlist-active{
    color: var(--secondary-color);
}

.wishlist-inactive{
    color: var(--primary-color);
}

.icon-button:hover {
    cursor: pointer;
    background: var(--ternary-color);
}

.icon-button:active {
    transition: color 0s;
}

.wishlist-card{
    width: 16rem;
}

.wishlist-card img{
    height: 100%;
}